<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>登陆.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EBF79151C192A9D004C7667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EBF792E1C192A9D004C7667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EBF79391C192A9D004C7667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
